body{
  background-image: url("../img/seattle.jpg");
}


#alex-photo{
  float:right;
  max-width:20%;
}

.jumbotron{
  float:none;
  border-radius: 25px;
  background-color: transparent;
}

#projects-header{
  float:none;
  text-align:center;
  font-weight: bolder;
}

#travel-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

p{
  color:white;
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

ul{
  color:white;
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

h3{
  color:rgb(255, 221, 204);
  text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}
#travel-panel-header{
  background: rgba(51, 102, 255, 0.3);
}


#resort-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

#resort-panel-header{
  background: rgba(51, 102, 255, 0.3);
}

#shelter-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

#shelter-panel-header{
  background: rgba(51, 102, 255, 0.3);
}

#dog-blog-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

#dog-blog-panel-header{
  background: rgba(51, 102, 255, 0.3);
}

#wikipedia-rebuild-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

#wikipedia-rebuild-panel-header{
  background: rgba(51, 102, 255, 0.3);
}

#bigfoot-resume-panel{
  background: rgba(76, 175, 80, 0.3);
  font-weight:bold;
}

#bigfoot-resume-panel-header{
  background: rgba(51, 102, 255, 0.3);
}

.container{
  border-radius: 25px;
}
